
.footer-main {
  background-color: rgb(213, 54, 54);
  min-width: 100vw;
  // position: absolute;
  // bottom: 0;
  // margin-bottom: -150px;
  height: 100px;
}

.footer-header {
  text-align: center;
  min-width: 100vw;
  font-weight: bold;
}

.Rokas {
  height:51px;
  width:51px;
  margin-right: 40px;
}

.Logo {
  height:51px;
  width:51px;
  margin-right: 40px;
}

.links {
  display: flex;
  justify-content: space-between;
}


