
.register-body {
  height: 75.1vh;
  background-image: url('./images/register-bg.jpeg');
  background-position: center;
  background-size: cover;
  padding-top: 50px;
}

.register-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 25vw;
  margin: auto;
  border: 1px solid black;
  background-color: #000;
  color: #fff;
  opacity: .7;
  

}

.register-title {
  bottom: 60px;
  position: relative;
  color: grey;
  text-shadow: 1px 1px 1px grey;
}

.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.register-input {
  margin-bottom: 15px;
  width: 220px;
  background-color: rgb(255, 255, 255);
  color: black;
  opacity: .7;
}

.register-button {
  width: 100px;
  height: 40px;
  border-radius: 3px;
  letter-spacing: 1px; 
  transition: all 0.3s ease-out;
  &:hover {
    background-color: red;
  }
}
